<!-- <div class="subs-area">
    <div class="subs-wrap">
        <div class="container1">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="subs-title">
                        <h2>Stay Up To Date With Our Latest News!</h2>
                    </div>
                </div>
                <div class="col-lg-6">
                    <form class="newsletter" data-toggle="validator" novalidate="true">
                        <input type="email" class="form-control" placeholder="Enter your email" name="Email" required autocomplete="off">
                        <button class="btn cmn-btn disabled" type="submit" style="pointer-events: all; cursor: pointer;">Subscribe</button>
                        <div id="validator-newsletter" class="form-resilt"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div> -->
<footer class="pt-100">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-lg-3">
                <div class="footer-item">
                    <div class="footer-logo">
                        <a href="#">
                            <img src="" alt="">
                        </a>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, sapiente atque sed libero velit facere, dolores officia aut soluta voluptas vero esse reiciendis illum praesentium ut illo consectetur repellat sint!
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="footer-item">
                    <div class="footer-company">
                        <h3>Company</h3>
                        <ul>
                            <li>
                                <a href="#">About US</a>
                            </li>
                            <li>
                                <a href="#">Services</a>
                            </li>
                            <li>
                                <a href="#">Book Now</a>
                            </li>
                            <li>
                                <a href="#">Contact Us</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="footer-item">
                    <div class="footer-company">
                        <h3>Support</h3>
                        <ul>
                            <li>
                                <a href="#">About US</a>
                            </li>
                            <li>
                                <a href="#">Services</a>
                            </li>
                            <li>
                                <a href="#">Book Now</a>
                            </li>
                            <li>
                                <a href="#">Contact Us</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="footer-item">
                    <div class="footer-company">
                        <h3>Contact Info</h3>
                        <ul>
                            <li>
                                <span>Location: 6th Floor, Barbosa, Sidney</span>
                            </li>
                            <li>
                                <span>Email:</span>
                                <a href="mailto:info@cleanhouse.com">info@cleanhouse.com</a>
                            </li>
                            <li>
                                <span>Phone</span>
                                <a href="tel:+0123456789">+0123456789</a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-social">
                        <ul>
                            <li>
                                <a href="#">
                                    <i class="bx bx1-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="bx bx1-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="bx bx1-linkedin"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="bx bx1-instagram"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>