
.about-us {
    margin-top: -15%;
    padding: 10%;
    font-family: 'Merriweather', serif;
}

.about-us h3 {
    color: #333;
    font-weight: bold;
    font-size: 30px;
    margin-top: 10%;
    
}

.about h4{
    float: left;
}
.about h5{
    font-weight: bold;
    color: rgba(15,131,144,255);
}

    .about-us h2 {
        color: rgba(37,67,95,255);
        font-weight: bold;
        font-size: 30px;
        
    }
    .about-us p {
        color: #333;
        padding:1px;
        font-size :18px;
        text-align :justify;
        font-family: 'Merriweather', serif;
    }

.about h4 span{
    font-size: 90px;
    font-weight: bold;
    color: rgba(37,67,95,255);
}
.about h4{
    font-size: 40px;
    font-weight: bold;
    color:rgba(15,131,144,255);
    padding-right: 20px;
}
    .about-us .clean {
        margin-top: 10%;
    }

.about-img {
    text-align: center;
}

    .about-img img {
        width: 100%;
    }

@media only screen and (max-width:990px) {
    .about h4{
        font-size: 30px;
        font-weight: bold;
        color:rgba(15,131,144,255);
        padding-right: 20px;
    }
    .about h4 span{
        font-size: 50px;
        font-weight: bold;
        color: rgba(37,67,95,255);
    }
}


/* Our Services */

.service-area {
    font-family: 'Merriweather', serif;
    margin-top: -40px;
}


.service-area .bg-fefbf3{
    background-color: #fdfaf7;
}

.section-title {
    text-align: center;
    max-width: 910px;
    margin: 0 auto 45px;
}

.section-title h5{
    font-weight: bold;
    color: rgba(15,131,144,255);
}
.section-title h2 {
    color: rgba(37,67,95,255);
    font-weight: bold;
    font-size: 30px;
    position: relative;
    z-index: 1;
}

.single-services-card {
    text-align: center;
    padding: 3px 0px;
    background-color: var(--white-color);
    border-radius: 5px;
    margin-bottom: 25px;
    -webkit-transition: var(--transition);
    transition: var(--transition);
}

.single-services-card .image {
    display: inline-block;
    border:2px solid rgba(15,131,144,255);
    border-radius: 20px;
    height: 85
px
;
    width: 85
px
;
    text-align: center;
    
    
    margin-bottom: 20
px
;
}
.image img {
    width: 250px;
    height: 200px;
    display: inline-block;
    
}

.single-services-card h3 a {
    color: black;
    font-size: 17px;
    font-weight: bold;
    margin-top: 15px;
}

a {
    text-decoration: none;
    display: inline-block;
    color: black;
    font-size: 15px;
}

a span{
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    color: rgba(15,131,144,255);
    font-size: 17px;
    text-decoration: underline;
}

@media only screen and (max-width:990px) {
    .single-services-card h3 a {
        color: black;
        font-size: 25px;
        font-weight: bold;
        margin-top: 15px;
    }
    a {
        text-decoration: none;
        display: inline-block;
        color: black;
        font-size: 15px;
    }
    
    a span{
        text-decoration: none;
        font-weight: bold;
        display: inline-block;
        color: rgba(15,131,144,255);
        font-size: 25px;
        text-decoration: underline;
    } 
}


/* Form */

.book-us{
    font-family: 'Merriweather', serif;
    background:linear-gradient( rgba(0, 0, 0, 0.5) 100%, rgba(0, 0, 0, 0.5)100%),url("../../assets/Images/bgimg8.jpg");
    background-attachment: fixed;
    background-size:cover;
    min-height: 100vh;
   
}

.book-img{
    margin-top: 10%;
}

.form-control:focus {
    border-color:rgba(15,131,144,255) ;
    
}

.form-control {
    font-size: 13px;
    color:black;
}

.book-title h1{
    text-align: center;
    /* margin: 0 10px 2px 550px; */
    color: yellowgreen;
    font-weight: bold;
    /* padding-top: 40px; */
}

.book-us h5{
    margin-top: 2%;
    color: yellowgreen;
    margin-bottom: 3%;
    font-size: 25px;
}

/* .book-box{
    border: 2px solid black;
    margin-top: 2%;
} */

.s-button {
    background:yellowgreen;
    box-shadow: none;
    margin: 0 50px 0 50px;
    font-size: 18px;
    border: none
}

.s-button:hover {
    background: rgba(15,131,144,255);
}

.s-button:focus {
    background: rgba(15,131,144,255);
}

.s-button:active {
    background: rgba(15,131,144,255);
}

.labels {
    font-size: 18px;
    font-weight: bold;
    color: seashell;
}

@media only screen and (max-width:990px) {
    .book-img img{
        display: none;
    }
    .book-title h1{
        
        margin-top: -80px;
    }
}

/* Contact US */

.contact {
    font-family: 'Merriweather', serif;
    position: relative;
    width: 900px;
    max-width: 80%;
    border: 2px solid rgba(15,131,144,255);
    border-top: none;
    text-align: center;
    margin: 10% auto;
  }
  
  .contact h1 {
    position: relative;
    margin-top: -14px;
    display: inline-block;
    letter-spacing: 4px;
    color: rgba(37,67,95,255);
  }
  
  .top-border{
    position: absolute;
    height: 2px;
    width: 24%;
    background-color: rgba(15,131,144,255);
  }
  
  .right {
    right: 0;
  }
  
  .left {
    left: 0;
  }
  
  @media (max-width: 685px) {
  .top-border {	
    width: 18%;
      }
  }
  
  .contact p {
    width: 61%;
    margin: 20px auto 40px auto;
    text-align: center;
    line-height: 30px;
    font-size: 18px;
    color: black;
  }
  
  .contact a {
    outline: 0;
    display: inline-block;
    padding: 5px;
    margin: 2%;
    margin-bottom: 40px;
    width: 80px;
    max-width: 80%;
    border-radius: 60px;
    background-color: rgba(37,67,95,255);
    color: #fff;
    font-size: 25px;
    letter-spacing: 3px;
    transition: all 0.3s ease 0s;
  }
  
  .contact a:hover {
    background-color: rgba(15,131,144,255);
  }
  
  .contact a:link, .contact a:visited, .contact a:link:hover, .contact a:visited:hover {
    text-decoration: none;
    color: #fff;
  }
  
  @media (max-width: 500px) {
    .top-border {	
      display: none;
    }
    .contact {
    border-top: 2px solid #333;
    }
    .contact h1 {
      margin: 20px 6px;
    }
    .Report{
        display: none;
    }
  }

  /* Report */

  .Report {
        background:linear-gradient( rgba(0, 0, 0, 0.5) 100%, rgba(0, 0, 0, 0.5)100%),url("../../assets/Images/bgimg7.jpg");
        background-attachment: fixed;
        background-size:cover;
        min-height: 94vh;
        margin-top: 10%;
        /* text-align: center; */
        color: white;
        font-family: 'Merriweather', serif;
    }   

    .Report h1{
      text-align: center;
      font-family: 'Merriweather', serif;
      font-weight: bold;
      padding-top: 3%;
      margin-bottom: 3%;
  }

  .table{
      border: 2px solid white;
      color: white;
  }

  .table .thead th{
      border-bottom: 2px solid white;
      color: white;
      font-weight: bold;
      letter-spacing: 1px;
      background-color:rgba(37,67,95,255);
  }

  .table .tbody tr{
    font-weight: bold;
    color: black;
    background-color: yellowgreen;
}
